<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fuckin cracking editor</title>
	<link rel="stylesheet" href="../main.css" media="all">
  </head>
  <body id = "main">
	  <ul id="tools" class="menu">
		  <li id="pickerBtn"></li>
		  <li class="active btn">brush</li>
		  <li class="btn">rect</li>
		  <li class="btn">ellipse</li>
		  <li class="btn">line</li>

		<ul id="sideTools" class="menu"> 
		  <li id="stroke" class="btn">stroke</li>
		  <li id="eraser" class="btn">eraser</li>
		</ul>

	  </ul>

	  <canvas id="render"></canvas>

	  <ul id="files" class="menu"> 
		  <li id="loadImage" class="btn">open</li> 
		  <li id="saveImage"class="btn">save</li>
	  </ul>

	<input type="color" id="picker" value="#000000">
	<input type='file' id='uploadImage'/> 
  </body>
  <script src="../app/main.js"></script>
</body>
</html>
