*, body, html {
	margin: 0;
	padding: 0;
	cursor: auto;
	box-sizing: border-box;
	font-family: monospace, sans-serif;
}

input{
	display: none;
}

#pickerBtn{
	width: 5vw;
	height: 5vw;
	border: 1px solid black;
	background: #000;
	border-radius: 50%;
}
#pickerBtn:hover{
	cursor: pointer;
}

.btn{
	width: 5vw;
	height: 5vw;
	border: 1px solid black;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2vw;
	border-radius: 50%;
}

.btn:hover, .btn.active{
	cursor: pointer;
	background: #578787;
	color: #eaf3f8;
}

.menu{
	width: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style-type: none;
	margin: 2.5vw;
}

.menu > li{
	margin-bottom: 10px;
}

#main {
	background: #ccc;
	justify-content: space-between;
	display: flex;
}

#render { 
	align-self: center;
	background: #aaa;
	cursor: crosshair;
}

.menu_active {
	background: #222;
	color: #fff;
}
